html,
body {
  padding: 0;
  margin: 0;
}

.entrance {
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: right;
  animation: SlideIn 30s ease;
  transform: translate3d(0,0,0);
  height: 200vh;
}

.entrance:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.entrance__content {
  z-index: 101;
  position: relative;
} 

@keyframes SlideIn {
  0%  {opacity: 0.05; background-position: right;}
  50% {opacity: 0.5; background-position: left;}
  100% {opacity: 1; background-position: right;}
}

.entrance h1 {
  font-size: 50px;
  font-weight: 100;
  color: white;
  margin: 0;
} 

.entrance__content {
    padding: 200px 100px;
    max-width: 310px;
}

.btn {
  background: rgb(72, 64, 64);
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  margin: 20px 0;
  display: inline-block;
  border-radius: 3px;
  font-size: 20px;
}  